@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOGIN & REGISTRATION */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

p, h5 {
  margin: 0;
}

ul {
  list-style: none;
}

#root {
  height: 100%;
}

.hide {
  display: none;
}

.fa-check-square {
  color: green;
  margin-right: 7.5px;
}

.accsetup {
  display: flex;
  gap: 15%;
  padding: 90px 15% 0;
}

.accsetup-bg {
  background: url("./img/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  position: absolute;
  top: 17%;
  left: 7%;
  height: 75%;
  width: 75%;
}

.text {
  z-index: 10;
}

.text h1 {
  margin-bottom: 30px;
}

.text ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 250px;
}

.text li {
  margin-bottom: 20px;
  width: 100px;
}

.ls-cont {
  background-color: rgb(43, 156, 187);
  border: 1px solid black;
  padding: 35px;
  width: 510px;
  z-index: 10;
}

.ls-cont form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.ls-cont form input {
  background: white;
  border: 1px #C4C4C4 solid;
  color: black; 
  padding: 10px;
  width: 100%;
}

.ls-cont form button {
  background-color: #F0A993;
  border: 1px solid #F0A993;
  color: black;
}

.ls-cont form button:hover {
  background-color: white;
  border: 1px solid #F0A993;
  color: black;
}

.ls-cont form button {
  text-transform: uppercase;
  padding: 10px 15px;
}

.ls-cont__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.btn-ls button {
  background-color: white;
  border: 1px #C4C4C4 solid;
  font-size: 16px;
  padding: 20px 10px;
  text-transform: uppercase;
  width: 100%;
}

.btn-ls .btn-ls--focus {
  background-color: #F0A993;
}

/* LOGIN & REGISTRATION */

/* CALENDAR COMPONENT */

/*idk why but i can't delete my component css files with references*/

/* CALENDAR COMPONENT */