
.MyCalendar {
    flex-basis: 75%;

}

.calendar-year {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 5rem;
    padding: 0 3em;
}

.calendar-year h2 {
    letter-spacing: .2em;
    font-weight: unset;
    align-self: center;
}

.calendar-year i {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    transition-duration: 100ms;
    cursor: pointer;
    align-self: center;
}

.calendar-year i:hover {
    background-color: teal;
    color: white;
}

.calendar-months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.calendar-months button {
    width: calc(100%/12);
    max-width: calc(100%/12);
    background-color: transparent;
    transition-duration: 100ms;
    color:teal;
}

.calendar-months button:hover {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.calendar-months .selected {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.calendar-weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.calendar-weekdays div {
    width: calc(100%/7);
    max-width: calc(100%/7);
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.calendar-days div {
    width: calc(100%/7);
    max-width: calc(100%/7);
    height: 4.5rem;
}

.calendar-days div > .hidden {
    color:red;
}

.calendar-days div > .hidden:hover {
    color:white;
}

.calendar-days div > .selected {
    background-color:#dc3545;
    color: white;
}

.calendar-days div > .reminder {
    background-color:rgb(94, 117, 245);
    color: white;
    transition-duration:0ms;
}

.reminder.selected {
    border: 3px solid #dc3545;
}

.reminder:hover {
    border: 3px solid #dc3545;
}

.calendar-days div > button {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: none;
    color: black;
}
