.Navbar {
    padding: 20px 0;
    display: flex;
    margin-bottom: 40px;
    border: 1px rgb(196, 196, 196) solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Navbar__btn {
    background-color: rgb(65, 65, 255);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.Navbar__btn:hover {
    background-color: white;
    border: 1px solid rgb(65, 65, 255);
    color: black;
}

.nav-container {
    margin: auto;
}

img {
    height: auto;
    width: 70px;
}