.Navbar {
    padding: 10px 0 10px 35px;
    display: flex;
    margin-bottom: 20px;
    border: 1px rgb(196, 196, 196) solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.Navbar__btn {
    background-color: rgb(221, 60, 39);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width:200px;
}

.Navbar__btn:hover {
    background-color: rgb(177, 47, 47);
    border: 1px solid rgb(65, 65, 255);
    color: rgb(255, 255, 255);
}

.nav-container {
    margin: auto;
}