.Reminder {
    padding: 30px 50px 30px 40px;
    text-align: center;
    background-color: rgb(129, 42, 201);
    flex-basis: 25%;
    text-align: left;
}

.Reminder > h1 {
  color: white;
}

.reminderInput {
    outline: 0;
    width: 230px;
    border-width: 0 0 3px;
    border-color: white;
    background:transparent;
    color:white;
    margin-right:10px;
}
  
.reminderInput::placeholder{
      color:white;
      opacity:.5;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(187, 178, 178, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136); 
}

.reminder-cont{
  height: 260px;
  overflow-y:auto;
  width: 100%;
  /*padding:15px 40px 30px 20px;*/
  background-color: white;
  margin-bottom:20px;
  overflow-x: hidden;
  overflow-y:visible;
}

.reminder-header{
  background-color: white;
  color:black;
  padding:10px 0px 8px 18px;
  margin:0;
  border-bottom:solid 2px rgba(0, 0, 0, 0.082);
}

#reminder-list{
  color:black;
}



button.accordion-button::after {
  background-image: none !important;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}